.top-part {
  margin-top: 150px;
  font-size: 30px;
  color: white;
}

.top-top {
  color: white;
  font-size: 15px;
  margin-top: 30px;
  margin-left: 30px;
}

body {
  background: url("https://images.unsplash.com/photo-1424460421773-58b49adfc68a?crop=entropy&dpr=2&fit=crop&fm=jpg&h=675&ixjsv=2.1.0&ixlib=rb-0.3.5&q=50&w=1300");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
}
